@font-face {
	font-family: 'Muller';
	src: url('../../fonts/MullerHeavy.eot');
	src: url('../../fonts/MullerHeavy.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/MullerHeavy.woff') format('woff'),
		url('../../fonts/MullerHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}